WW_INTERNAL: 43
ipaddr:  {{ WW4_ipaddr  }}
netmask: {{ WW4_netmask }}
network: {{ WW4_network }}
warewulf:
  port: 9873
  secure: false
  update interval: {{ WW4_update_interval }}
  autobuild overlays: true
  host overlay: true
  syslog: false
dhcp:
  enabled: true
  template: {{ WW4_dhcp_template }}
  #range start: {{ WW4_dhcp_start }}
  #range end:   {{ WW4_dhcp_end   }}
  systemd name: dhcpd
tftp:
  enabled: true
  systemd name: tftp
  ipxe:
    "00:00": bin-x86_64-pcbios-undionly.kpxe
    "00:07": bin-x86_64-efi-snponly.efi
    "00:09": bin-x86_64-efi-snponly.efi
    "00:0B": bin-arm64-efi-snponly.efi
nfs:
  enabled: {{ ww4_nfs_enabled }}
  export paths:
  - path: /home
    export options: rw,sync
    mount options: defaults
    mount: true
  - path: /opt
    export options: ro,sync,no_root_squash
    mount options: defaults
    mount: false
  systemd name: nfs-server
paths:
  datadir: /share
  ipxesource: /usr/local/share/ipxe
  sysconfdir: /etc
  wwchrootdir: /var/warewulf/chroots
  wwoverlaydir: /var/warewulf/overlays
  wwprovisiondir: /var/warewulf/provision
