[Unit]
Description=Rebuilds all warewulf overlays
Requires=warewulfd.service
After=warewulfd.service {% if ww4_overlay_rebuild_service_WantedBy is defined %}{{ ww4_overlay_rebuild_service_WantedBy }}{% endif %}

AssertFileIsExecutable=/bin/wwctl

[Service]
Type=oneshot
ExecStart=/bin/wwctl overlay build

[Install]
WantedBy=multi-user.target {% if ww4_overlay_rebuild_service_WantedBy is defined %}{{ ww4_overlay_rebuild_service_WantedBy }}{% endif %}

