WW_INTERNAL: 43
ipaddr:  {{ WW4_ipaddr  }}
netmask: {{ WW4_netmask }}
network: {{ WW4_network }}
warewulf:
  port: 9873
  secure: false
  update interval: 60
  autobuild overlays: true
  host overlay: true
  syslog: false
dhcp:
  enabled: true
  template: {{ WW4_dhcp_template }}
  range start: {{ WW4_dhcp_start }}
  range end:   {{ WW4_dhcp_end   }}
  systemd name: dhcpd
tftp:
  enabled: true
  systemd name: tftp
nfs:
  enabled: true
  export paths:
  - path: /home
    export options: rw,sync
    mount options: defaults
    mount: true
  - path: /opt
    export options: ro,sync,no_root_squash
    mount options: defaults
    mount: false
  systemd name: nfs-server
